{% if user_list %}
    <div class="container pd-2">
        {% for user in user_list %}
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <img src="data:image/gif;base64,{{ user["profile_photo"] }}"
                         alt="mdo"
                         class="rounded-circle"
                         width="50"
                         height="50">
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userpage/{{ user["key"] }}">{{ user["key"] }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">{{ user["followers"]|length }} Followers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">{{ user["following"]|length }} Following</a>
                </li>
            </ul>
        {% endfor %}
    </div>
{% endif %}
